.clear-fix() {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.hide-text() {
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* ref: https://davidwalsh.name/input-shadows-ipad */
.remove-ipad-input-shadow() {
	&[type="text"], &[type="email"], &[type="search"], &[type="password"] {
	  background-clip: padding-box;
	}
}